#lookup-elements-fields {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.lookup-elements-space-between {
  margin-top: 1vw;
}
#interval_radio_buttons {
  margin: 2vw;
}
#interval_radio_buttons {
  display: none;
}